.container{
    display: flex;
    justify-content: center;
}
.detailCard{
    background-color: hsla(0, 0%, 0%, 0.815);
    color: #ffffff;
    box-sizing: content-box;
    width: 80%;
    font-size: 12px;
    border: solid #be4710 3px;
    padding: 3px;
    margin: 10px;
    border-radius: 20px;
    width: 700px;
    height: 600px;
}

.detailCard h1{
  
  color: #ffd000;
  font-size: 30px;
  
}
.detailImage{
    height: 320px;
    width: 400px;
    border: solid #be4710 2px;
    border-radius: 15px;
    margin-top: 10px;
}

.buttonGoBack{
    background-color: hsla(0, 0%, 0%, 0.815);
    border: 1px solid #ffd000;
    border-radius: 5px;
    font-size: 20px;
    color: #ffd000;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }

/* ---------------------------------------------------- */
.preloader {
    width: 70px;
    height: 70px;
    border: 10px solid hsla(0, 0%, 0%, 0.815);
    border-top: 10px solid #ffd000;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

