body{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    background-image: url('../../image/back-image.jpg');
}

.button{
    
    background-color: hsla(0, 0%, 0%, 0.815);
    border: 5px solid #ffd000;
    border-radius: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #ffd000;
    padding: 20px;
    margin-top: 400px;
    width: 40%;
    cursor: pointer;
    
}



.title{
    margin: 0;
    background-color: hsla(0, 0%, 0%, 0.815);
    font-size: 50px;
    color: #ffd000;
    
    padding: 20px;
   
  }